/* Estilos básicos para el HTML y la tabla - ¿Debería aplicar Media Query? */
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-image: url('/e-commerce/background-tunnel.jpg');
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: flex; /* Usa flexbox para alinear el logo y el título */
  flex-direction: column; /* Coloca el logo y el título en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  color: #fff;
  padding: 1rem;
  position: relative; /* Permite posicionar el carrito en relación al header */
}

/* Logo */
.logo {
  width: 200px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantiene la proporción del logo */
  margin-top: 10px; /* Espacio entre el logo y el título */
}

.header-title {
  font-size: 50px; /* Tamaño del título */
  color: rgb(255, 145, 0); /* Color del título */
  text-align: center; /* Centra el texto */
}

/* Estilos para el modal */
#welcome-modal {
  display: none; /* Se ocultará por defecto */
  position: fixed; /* Fijo en la pantalla */
  left: 50%; /* Centrar horizontalmente */
  top: 50%; /* Centrar verticalmente */
  transform: translate(-50%, -50%); /* Ajustar al centro exacto */
  background-color: white; /* Fondo blanco */
  border: 1px solid #ccc; /* Borde gris claro */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  z-index: 1000; /* Asegurarse de que esté sobre otros elementos */
}

/* Estilo para el overlay de fondo, si deseas agregarlo */
#welcome-modal::before {
  content: ''; /* Necesario para crear el overlay */
  position: fixed; /* Fijo en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  z-index: -1; /* Detrás del modal */
}

/* Estilo para el formulario de compra */
#compra-form {
  background-color: white; /* Fondo blanco */
  border: 1px solid #ccc; /* Borde gris claro */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  width: 90%; /* Ancho del formulario */
  max-width: 500px; /* Ancho máximo del formulario */
  margin: 20px auto; /* Espacio en la parte superior e inferior, centrado horizontalmente */
}

/* Estilos adicionales para los elementos dentro del formulario */
#compra-form h2 {
  margin-top: 0; /* Eliminar margen superior del encabezado */
}

#compra-form form {
  display: flex;
  flex-direction: column; /* Organiza los elementos verticalmente */
}

#compra-form label {
  margin-bottom: 5px; /* Espacio debajo de cada etiqueta */
  font-weight: bold; /* Resaltar las etiquetas */
}

#compra-form input {
  margin-bottom: 10px; /* Espacio debajo de cada campo de entrada */
  padding: 8px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 4px; /* Bordes redondeados */
}

#compra-form button {
  padding: 10px 15px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #007BFF; /* Color de fondo azul */
  color: white; /* Color del texto blanco */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Efecto de transición para el cambio de color */
}

#compra-form button:hover {
  background-color: #0056b3; /* Color de fondo cuando se pasa el cursor sobre el botón */
}

.hidden {
  display: none;
}

#productos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: auto;
}

.contenedorDeCard{
  border-radius: 50px;
  overflow: hidden;
  width: 250px;
  height: 360px;
  padding: 0;
  margin: 30px auto;
  flex-direction: column;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tituloCard{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 183, 0);
  text-align: center;
  background-color: rgb(16, 19, 17);
  margin: 0;
  padding: 5px;
  border-top: 3px solid rgb(255, 183, 0);
  border-bottom: 3px solid rgb(255, 183, 0);
}
.contenedorDeCard img {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.boton{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(250, 179, 0);
  background-color: rgb(16, 19, 17);
  border: 3px solid rgb(255, 183, 0);
}

/* Estilo para el carrito de compras */
#cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: white;
  border-left: 2px solid #333;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  padding: 10px;
  overflow-y: auto;
  display: none; /* Ocultar por defecto */
}
#cart h2 {
  margin-top: 0;
}
#cart .item {
  margin-bottom: 10px;
}
#cart .item img {
  max-width: 50px;
  vertical-align: middle;
  margin-right: 10px;
}
#cart .item p {
  display: inline-block;
  vertical-align: middle;
}
#cart .item button {
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

main {
  padding: 2rem;
}

table {
  width: 100%;
  border-collapse: none;
}

td {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: center;
}

img {
  width: 250px; /* Establecer un tamaño fijo para las imágenes */
  height: auto; /* Mantiene la proporción */
}

.grupo-de-cuatro {
  width: auto;
  height: auto;
}

.product {
  background-color: #ffffff8c;
  border-radius: 78px;
  overflow: hidden;
  text-align: center; /* Alinea el texto en el centro */
}

.product p {
  margin: 0;
  padding: 0.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Animación para las imágenes de los productos */
.product img {
  width: 278px;
  height: auto;
  transition: transform 0.1s ease; /* Transición suave para la animación */
}

.product:hover img {
  transform: scale(1.1); /* Escala la imagen al 110% al pasar el mouse */
}

/* Botón selector de colores */
.colors {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
}

.color-button {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0 5px;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s;
}

.color-button.selected {
  border-color: #000;
}

.color-button:hover {
  border-color: #000;
}

/* Botón de compra */
.buy-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bolder;
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  margin-top: 10px; /* Espacio entre el texto del producto y el botón */
}

.buy-button:hover {
  background-color: rgb(82, 136, 1);
}

/* Botones de acceso y [+] */
.button-container {
  text-align: center;
  margin-top: 2rem;
}

.button-container button {
  padding: 15px 30px;
  font-size: 100%; /* Tamaño del texto del botón */
  background-color: #0004ff;
  color: #fff;
  border: black;
  border-radius: 1000px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #00b300;
}

.button-container p {
  font-size: 2rem;
  color: orange;
  margin: 1rem 0;
}

#catalogo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
}

#catalogo-content {
  background: #fff;
  margin: 50px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}

.close-btn {
  float: right;
  cursor: pointer;
  font-size: 18px;
}